<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZenOfFiles.pkg</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>149F999EA7F6FFD74FB597F3D14D38149E9364FD</string>
				<key>dateExpires</key>
				<string>7/31/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>NJ55UC9QDK.origamisoftware.ZenOfFiles</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NJ55UC9QDK</string>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.assets.movies.read-write</key>
				<true/>
				<key>com.apple.security.assets.music.read-write</key>
				<true/>
				<key>com.apple.security.assets.pictures.read-write</key>
				<true/>
				<key>com.apple.security.device.audio-input</key>
				<true/>
				<key>com.apple.security.device.bluetooth</key>
				<true/>
				<key>com.apple.security.device.camera</key>
				<true/>
				<key>com.apple.security.device.usb</key>
				<true/>
				<key>com.apple.security.files.downloads.read-write</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
				<key>com.apple.security.personal-information.addressbook</key>
				<true/>
				<key>com.apple.security.personal-information.calendars</key>
				<true/>
				<key>com.apple.security.personal-information.location</key>
				<true/>
				<key>com.apple.security.print</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ZenOfFiles.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1ae062d9-44b4-4485-958e-f4eabc5e3f03</string>
				<key>dateExpires</key>
				<string>7/31/24</string>
				<key>name</key>
				<string>Mac Team Store Provisioning Profile: origamisoftware.ZenOfFiles</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NJ55UC9QDK</string>
				<key>name</key>
				<string>Spencer Marks</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
